{% extends "auctions/layout.html" %}

{% block body %}
    <div class="container">
        {% if message %}
            {% if update %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% else %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endif %}
    </div>



    {% if user == listing.price.user and not listing.isActive %}
    <div class="alert alert-success" role="alert">
        Congatulation! You won the auction
    </div>
    {% endif %}



    <div class ="row mx-3">
        {% if user.is_authenticated and listing.isActive %}
            {% if isOwner %}
                <form action="{% url 'closeAuction' id=listing.id %}" method="POST" class="mx-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Close Auction</button>
                </form>
            {% endif %}
            {% if isLisitingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                </form>
            {% else %}
                <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Add To Watchlist</button>
                </form>
            {% endif %}
        {% endif %}
    </div>
    <h2>Pokemon: {{ listing.title }}</h2>
    <img src="{{ listing.img }}" alt="{{listing.title}}" height="400px">
    <p>{{listing.description}}</p>
    <p>Owner: {{listing.owner}}</p>
    <h4>Initial Price: ${{ listing.price.bid }}</h4>

    {% if user.is_authenticated %}
        <form action="{% url 'addBid' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="price">Add Bid</label>
                <input type="number" min="0" name="newBid" placehold="Add New Bid">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    {% endif %}


    <h2>Comments</h2>
    {% if user.is_authenticated %}
        <form action="{% url 'addComment' id=listing.id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="description">Add new Comment</label>
                <input type="text" name="newComment" placehold="Add New Comment">
                <button type="submit" class="btn btn-warning">Add</button>
            </div>
        </form>
    {% endif %}
    <ul class="list-group">
    {% for comment in allComments %}
        <li class="list-group-item">
            {{ comment.message }}
            <br>
            <p>Posted by <strong>{{ comment.author }}</strong></p>
        </li>
    {% endfor %}
    </ul>
{% endblock %}